/*Barra de navegacion //  La 'E' significa Escritorio y la  'M' Mobile*/
.Navbar{
  grid-area: NavApp;
  height: 60px;
}

/*Comienza  la  barra de navegacion correspondiente a dispositivos de escritorio*/
.NavbarUlE{
  display: flex;
  justify-content: flex-end;
  height: 100%;
  font-size: 25px;
  border: 3px solid #2b2f38;
  background-color: #2b2f38;
  list-style:none;
  text-decoration: none;
}
.NavbarLogoE{
  display: flex;
  justify-content: flex-end;
  margin-left: 5%;
  margin-right: auto;
}
.NavbarNavLinkLogoE{
  display: flex;
  align-items: center;
  padding:  0px  15px  0px 15px;
  height: 100%;
  color: white;
  list-style:none;
  text-decoration: none;
}
.NavbarLiListE{
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}
.NavbarNavLinkE{
  display: flex;
  align-items: center;
  padding:  0px  15px  0px 15px;
  height: 100%;
  color: white;
  list-style:none;
  text-decoration: none;
}

/*Comienza la seccion interactiva con el escritorio*/
.NavbarLiE:hover  > .NavbarNavLinkE, .NavbarLogoE:hover > .NavbarNavLinkLogoE{
  color: #61dafb;
  border-bottom: 4px solid #61dafb;
}
.active {
  color:    #61dafb;
  border-bottom: 4px  solid    #61dafb;
}
/*Comienza  la  barra de navegacion correspondiente a dispositivos moviles*/
.NavbarUlM{
  z-index:10;
  display: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 45px;
  font-size: 20px;
  background-color: #2b2f38;
}
.NavbarMenuM{
  display: flex;
  justify-content: flex-end;
  height: 45px;
  font-size: 20px;
}
.NavbarLogoM, .NavbarNavLinkM{
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 5%;
  height: 100%;
  list-style:none;
  text-decoration: none;
  color: white;
}
.iconMenu{
  display: flex;
  justify-content: flex-end;
  align-self: center;
  margin-right: 5%;
}
.NavbarLiListM{
  position:relative;
  z-index:10;
  height: 300px;
  width: 100%;
  background-color: #373c47;
}
.NavbarLiM{
  margin-left: 5%;
  list-style:none;
  text-decoration: none;
}
.NavbarNavLinkM{
  display: flex;
  align-items: center;
  margin: 0%;
  padding:  20px  0px  20px 0px;
  padding-left: 0px;
  width: 100%;
  height: 100%;
  color: white;
}
/*Responsive*/
@media only screen and (max-width: 755px){
  .Navbar{
    margin: 0px;
    padding: 0px;
  }
  .NavbarUlE{
    display: none;
  }
  .NavbarUlM{
    display: block;
  }
  .active{
    color:    #61dafb;
    border-bottom: 0px  solid    #61dafb;
  }
}
