.Navigation{
  background-color: #8F1437;
  width: 100%;
}

.NavbarUlE{
  display: inline-flex;
  width: 100%;
  height: 100%;
  margin: 0px;
}

.NavbarLiE{
  height: 100%;
  text-decoration: none;
  list-style: none;
  padding: 15px;
  margin-bottom: 3px;
}
.NavbarLiE  a{
  color: white;
  text-decoration: none;
}
.NavbarLiE:hover >  a{
color: #F67987;
}
.NavbarLiE:hover {
  margin-bottom: 0px;
  border-bottom: 3px solid #F67987;
}
